.newBlog{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.newBlog-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 80%;

}
/* .newBlog-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */